<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Deseos de libros</title>
        <meta charset="UTF-8">
    </head>
    <body>
	    <form th:action="@{/ingresarSistema}" method="post">
	    	<fieldset>
            <legend>Ingreso al sistema</legend>
            <table>
                <tr>
                    <td><label for="loggin" th:text="Loggin"></label></td>
                    <td><input type="text" name="loggin" id="loggin"/></td>
                </tr>
                <tr>
                    <td><label for="password" th:text="Password"></label></td>
                    <td><input type="text" name="password" id="password"/></td>
                </tr>
            </table>
            </br>
		    <input type="submit" name ="ingresar"  th:value="Ingresar"/>
		    </br>
		    </br>
		    <a th:href="@{/api-web-libreria/openRegistroUsuario/}">Registrarme</a>
	    </form>
	    
	    
    
    </body>
</html>
